@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Playball&display=swap');
@import "./styles/animations.css";

:root {
  --app-header-height: 80px;
}

@theme {
  --font-family-serif: "Playfair Display", serif;
  --font-family-sans: "Inter", sans-serif;

  --color-dusty-blue: #8B9DC3;
  --color-off-white: #FAF9F6;
  --color-muted-slate: #64748B;
}
